:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border-color: #ccc;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 40px 20px;
}

.container {
    max-width: 700px;
    margin: auto;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    margin-bottom: 30px;
    opacity: 0.8;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
}

input, select {
    padding: 10px;
    border: 1px solid var(--border-color);
    background: #f6f6f6;
    font-family: inherit;
    font-size: 14px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #000;
    color: #fff;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.87;
}

#result {
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}

footer {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'JetBrains Mono', monospace;
}

footer a {
    text-decoration: underline;
    color: #000000;
}